<div>
  <label>Region</label>
  <input [(ngModel)]="filters.region" placeholder="All">

  <label>Species</label>
  <input [(ngModel)]="filters.species" placeholder="All">

  <label>Conservation Status</label>
  <input [(ngModel)]="filters.conservationStatus" placeholder="All">

  <label>Water Temperature</label>
  <input [(ngModel)]="filters.waterTemperature" placeholder="All">

  <label>pH</label>
  <input [(ngModel)]="filters.ph" placeholder="All">

  <label>Pollution Levels</label>
  <input [(ngModel)]="filters.pollutionLevels" placeholder="All">

  <button (click)="applyFilters()">Search</button>
</div>
